@using System.Web.Optimization
<!--[if lt IE 8]>
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">    
<![endif]-->
<!--[if gte IE 8]>
    <!DOCTYPE html>
<![endif]-->
<![if !IE]>
    <!DOCTYPE html>
<![endif]>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> 
<![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Fine Art and Paintings</title>
    <meta name="description" content="Fine Art and Paintings on canvas. Vasily Martynchuk. Василий Мартынчук">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="fragment" content="!">
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>


    <link rel="apple-touch-startup-image" href="lib/durandal/img/ios-startup-image-landscape.png" media="(orientation:landscape)" />
    <link rel="apple-touch-startup-image" href="lib/durandal/img/ios-startup-image-portrait.png" media="(orientation:portrait)" />
    <link rel="apple-touch-icon" href="lib/durandal/img/icon.png" />

    @Styles.Render("~/css")

    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
</head>
<body>
    <div id="applicationHost">
        <div class="splash">
            <div class="message">
                Welcome to Zlatoart
            </div>
            <i class="icon-spinner icon-2x icon-spin active"></i>
        </div>
    </div>

    @Scripts.Render("~/lib/vendor")
    <script src="/lib/require/require.js" data-main="/App/main"></script>    
</body>
</html>
